.main {
  display: grid;
  height: 100vh;
  grid-template-rows: 50px auto;
  grid-template-columns: 190px auto;
  grid-template-areas:
    "menu header"
    "menu content";
}

.content {
  grid-area: content;
  overflow: scroll;
}
